* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #012;
  overflow: hidden;
}

.baseLight {
  position: fixed;
  inset: calc(50% - (var(--ball-size) * 6));
  background-image: radial-gradient(closest-side, #fff, 2%, transparent);
  pointer-events: none;
}

.shadows, .balls {
  position: fixed;
  inset: 50%;
  transform: translate(-50%, -50%);
}

.shadow {
  --_translate: calc(var(--dist-factor) * var(--ball-size));
  position: absolute;
  width: calc(var(--ball-size) * 2);
  height: calc(var(--ball-size) * 1);
  transform-origin: left;
  background-image: linear-gradient(to right, #000, transparent);
  opacity: var(--dist-factor, 0);
  transform:
    rotate(calc(var(--angle) * 1rad))
    translate(var(--_translate))
    perspective(calc(var(--ball-size) * 2))
    rotateY(calc(var(--dist-factor) * -50deg - 20deg));
}

.ball {
  --_bpx1: calc(var(--dist-factor) * 100% - 100%);
  --_bpx2: calc(var(--dist-factor) * -100% + 50%);
  --_translate: calc(var(--dist-factor) * var(--ball-size));
  position: absolute;
  width: var(--ball-size);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: hsl(var(--hue), 100%, 50%);
  background-image:
    radial-gradient(circle at var(--_bpx1, -100%) 50%, #fff, 25%, transparent),
    radial-gradient(circle at var(--_bpx2, 50%) 50%, transparent, #000a 100%);
  background-repeat: no-repeat;
  transform: rotate(calc(var(--angle, 0) * 1rad)) translate(var(--_translate));
}

.ball::before, .ball::after {
  content: '';
  position: absolute;
  inset: calc(var(--ball-size) * 0.3);
  background-color: #fff;
  border-radius: 50%;
  background-image:
    radial-gradient(closest-side, transparent 50%, #000),
    radial-gradient(circle at 30% 50%, #000 35%, transparent 40%);
  transform:
    rotate(calc(var(--angle, 0) * -1rad))
    translate(calc(var(--ball-size) * var(--_tx, -0.2)), calc(var(--ball-size) * -0.1))
    scaleY(var(--dist-factor, 0))
    rotate(calc(var(--angle, 0) * 1rad));
  transition: transform 0.2s ease;
}

.ball::after {
  --_tx: 0.2;
}


@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}
